<div class="container col-md-6" style="text-align: center;">
    <h1 style="background-color: wheat; height: 50px; padding-top: 5px; padding-bottom: 5px; border-radius: 50px; color:firebrick;">Feedback Form</h1>
    <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedBack()" class="form-group">
        <table class="table table-light">
            <tr class="thead thead-dark">
                <th colspan="2"> Feedback form for <b>{{this.programService.localProgram.programName}}</b> by
                    <b>{{trainerService.localTrainer.trainerName}}</b>
                </th>
            </tr>
            <tr>
                <th>Student Id</th>
                <td>
                    <input type="text" value="{{stuSer.tempStudent.id}}" class="form-control" disabled>
                </td>
            </tr>
            <tr>
                <th>Trainer Id</th>
                <td>
                    <input type="text" value="{{trainerService.localTrainer.id}}" class="form-control"disabled>
                </td>
            </tr>
            <tr>
                <th>Progaram ID</th>
                <td>
                    <input type="text" min="1" max="5" value="{{this.programService.localProgram.id}}" class="form-control" disabled>
                </td>
            </tr>
            <tr>
                <th>Presentation and communication skills of faculty </th>
                <td>
                    <input type="number" name="ques1" id="ques1" min="1" max="5" formControlName="ques1" class="form-control">
                    <div class="text text-danger"*ngIf="feedbackForm.get('ques1').hasError('required')&&(feedbackForm.get('ques1').dirty||feedbackForm.get('ques1').touched)">
                        Pls Enter a value. 
                    </div>
                    <div class="text text-danger" *ngIf="!feedbackForm.get('ques1').hasError('required')&&(feedbackForm.get('ques1').errors?.min||feedbackForm.get('ques1').errors?.max)&&(feedbackForm.get('ques1').dirty||feedbackForm.get('ques1').touched)">
                       Rating should be between 1-5
                    </div>
                </td>
            </tr>
            <tr>
                <th>Ability to clarify doubts and explain difficult points</th>
                <td>
                    <input type="number" name="ques2" id="ques2" min="1" max="5" formControlName="ques2" class="form-control">
                    <div class="text text-danger"*ngIf="feedbackForm.get('ques2').hasError('required')&&(feedbackForm.get('ques2').dirty||feedbackForm.get('ques2').touched)">
                        Pls Enter a value. 
                    </div>
                    <div class="text text-danger" *ngIf="!feedbackForm.get('ques2').hasError('required')&&(feedbackForm.get('ques2').errors?.min||feedbackForm.get('ques2').errors?.max)&&(feedbackForm.get('ques2').dirty||feedbackForm.get('ques2').touched)">
                       Rating should be between 1-5
                    </div>
                </td>
            </tr>
            <tr>
                <th>Time management in completing the contents</th>
                <td>
                    <input type="number" name="ques3" id="ques3" min="1" max="5" formControlName="ques3" class="form-control">
                    <div class="text text-danger"*ngIf="feedbackForm.get('ques3').hasError('required')&&(feedbackForm.get('ques3').dirty||feedbackForm.get('ques3').touched)">
                        Pls Enter a value. 
                    </div>
                    <div class="text text-danger" *ngIf="!feedbackForm.get('ques3').hasError('required')&&(feedbackForm.get('ques3').errors?.min||feedbackForm.get('ques3').errors?.max)&&(feedbackForm.get('ques3').dirty||feedbackForm.get('ques3').touched)">
                       Rating should be between 1-5
                    </div>
                </td>
            </tr>
            <tr>
                <th>Handout provided(Student Guide)</th>
                <td>
                    <input type="number" name="ques4" id="ques4" min="1" max="5" formControlName="ques4" class="form-control">
                    <div class="text text-danger"*ngIf="feedbackForm.get('ques4').hasError('required')&&(feedbackForm.get('ques4').dirty||feedbackForm.get('ques4').touched)">
                        Pls Enter a value. 
                    </div>
                    <div class="text text-danger" *ngIf="!feedbackForm.get('ques4').hasError('required')&&(feedbackForm.get('ques4').errors?.min||feedbackForm.get('ques4').errors?.max)&&(feedbackForm.get('ques4').dirty||feedbackForm.get('ques4').touched)">
                       Rating should be between 1-5
                    </div>
                </td>
            </tr>
            <tr>
                <th>Hardware, software and network availability</th>
                <td>
                    <input type="number" name="ques5" id="ques5" min="1" max="5" formControlName="ques5" class="form-control">
                    <div class="text text-danger"*ngIf="feedbackForm.get('ques5').hasError('required')&&(feedbackForm.get('ques5').dirty||feedbackForm.get('ques5').touched)">
                        Pls Enter a value. 
                    </div>
                    <div class="text text-danger" *ngIf="!feedbackForm.get('ques5').hasError('required')&&(feedbackForm.get('ques5').errors?.min||feedbackForm.get('ques5').errors?.max)&&(feedbackForm.get('ques5').dirty||feedbackForm.get('ques5').touched)">
                       Rating should be between 1-5
                    </div>
                </td>
            </tr>
            <tr>
                <th>Comments</th>
                <td><textarea name="comments" id="comments" cols="5" rows="5" formControlName="comments" class="form-control"></textarea>
                    <div *ngIf="feedbackForm.get('comments').hasError('required')&&(feedbackForm.get('comments').dirty||feedbackForm.get('comments').touched)" class="text text-danger">Required </div>
                </td>
            </tr>
            <tr>
                <th>Suggetions</th>
                <td><textarea name="suggestions" id="suggestions" cols="5" rows="5"
                        formControlName="suggestions" class="form-control"></textarea>
                        <div *ngIf="feedbackForm.get('suggestions').hasError('required')&&(feedbackForm.get('suggestions').dirty||feedbackForm.get('suggestions').touched)" class="text text-danger">Required </div>
                    </td>
            </tr>
    
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit Feedback" class="btn btn-success">
                    
                </td>
            </tr>
        </table>
    </form>
</div>