<div class="container" style="text-align: center;">

<div class="container">
    <h1>Welcome {{student.studentName}}</h1>
    <ul class="nav navbar-nav" style="float: right;">
        <li><button class="btn btn-warning" (click)="logout()">Logout
            <img src="https://cdn.onlinewebfonts.com/svg/img_248752.png" alt="" style="width: 20px; height: 20px;">
          </button></li>
      </ul>
</div>

<div class="container col-md-5">
    <h2>Profile </h2>
    <table class="table table-light table-bordered">
        <tr>
            <th>Id</th>
            <td>{{student.id}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{student.studentName}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{student.studentEmail}}</td>
        </tr>

    </table>
</div>

<div class="container col-md-5">
    <h2>Available FeedBacks</h2>
    <table class="table table-bordered table-light">
        <tr class="thead thead-dark">
            <th>Program Id</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let p of studSer.availableFeedbacks">
            <td>{{p}}</td>
            <td><input type="button" (click)="getForm(p)" value="Give Feedback" class="btn btn-info"></td>
        </tr>
    </table>
</div>
</div>