<h1>Welcome {{student.studentName}}</h1>
 <div class="col-md-4" style="margin-left: auto; margin-right: auto;">   
<table class="table table-info" style=" border-radius: 10px; text-align: center; border: 2 solid black;">
    <tr>    
        <th style="width: 20%;">Id</th>
        <td class="d-table-cell">{{student.id}}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{student.studentName}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{student.studentEmail}}</td>
    </tr>
    
</table>
    </div>

    <table>
        <tr>
            <th>Program Id</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let p of studSer.availableFeedbacks">
            <td>{{p}}</td>
            <td><input type="button" (click)="getForm(p)" value="Give Feedback"></td>
        </tr>
    </table>



    