<div class="form-container">
    <form class="form-signin" [formGroup]="trainerForm" (ngSubmit)="login()">

        <h1 class="h3 mb-3 font-weight-normal">Trainer Login</h1>
        <p style="text-align: center;">
            <img class="mb-4"
                src="https://i.dlpng.com/static/png/4527287-hd-teacher-icon-png-transparent-background-teacher-emoji-png-free-number-png-for-teachers-961_961_preview.webp"
                alt="" width="120" height="120">

        </p>
        <label for="inputEmail" class="sr-only">Email Address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
            formControlName="trainerEmail">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
            formControlName="pass">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-danger btn-block" type="submit">Sign in</button>
    </form>
</div>